Source: kvirc
Build-Depends: cdbs, debhelper (>= 6), quilt, cmake, kdelibs5-dev, libperl-dev,
 pkg-kde-tools, zlib1g-dev, libx11-dev, libxrender-dev, libssl-dev,
 libqt4-dev (>= 4.5.0), libcrypto++-dev, pkg-config
Section: net
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Raúl Sánchez Siles <rasasi78@gmail.com>,
 Kai Wasserbäch <debian@carbon-project.org>
Standards-Version: 3.8.2
Vcs-Hg: http://hg.debian.org/hg/pkg-kde/kde-extras/kvirc/
Vcs-Browser: http://hg.debian.org/hg/pkg-kde/kde-extras/kvirc/
Homepage: http://www.kvirc.de/

Package: kvirc
Architecture: any
Depends: kvirc-data (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: kvirc-data (<< ${source:Version})
Description:  KDE based next generation IRC client with module support
 A highly configurable graphical IRC client with an MDI interface,
 built-in scripting language, support for IRC DCC, drag & drop file
 browsing, and much more. KVIrc uses the KDE widget set, can be extended
 using its own scripting language, integrates with KDE, and supports
 custom plugins.

Package: kvirc-data
Architecture: all
Depends: ${misc:Depends}
Suggests: kvirc (>= ${source:Version})
Description: Data files for KVIrc
 This package contains the architecture-independent data needed by KVIrc in
 order to run, such as icons and images, language files, and shell scripts.
 It also contains complete reference guides on scripting and functions
 within KVIrc in its internal help format. Unless you want to use KVIrc only
 as a very simple IRC client you are likely to want to write scripts to
 tailor KVIrc to your needs.
