#! /usr/bin/make -f
#
DEB_DH_ALWAYS_EXCLUDE:=CVS:.svn:.svnignore:.hg:.hgignore
DEB_KDE_LINK_WITH_AS_NEEDED:=yes

include /usr/share/pkg-kde-tools/makefiles/1/cdbs/kde.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_CMAKE_EXTRA_FLAGS += -DWANT_COEXISTENCE=OFF -DWITHOUT_PYTHON=YES
# -DWITH_ix86_ASM COMPILE_MMX_ASM -DCOEXISTENCE


#Remove the upstream provided license file since it's already provided by debian copyright
common-install-indep::
	rm -r $(CURDIR)/debian/tmp/$(DEB_CMAKE_INSTALL_PREFIX)/share/kvirc/4.0/license

#	#
#	#	Move KDE service files to a better position
#	#
#	mv $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/services \
#	   $(CURDIR)/debian/tmp/$(DEB_CONFIGURE_PREFIX)/share/kvirc/3.4/
