#! /usr/bin/make -f
#
DH_ALWAYS_EXCLUDE:=CVS:.svn:.svnignore:.hg:.hgignore
DEB_KDE_LINK_WITH_AS_NEEDED:=yes

override_dh_auto_configure:
	dh_auto_configure -Skde -- -DWANT_COEXISTENCE=OFF -DWITHOUT_PYTHON=YES \
			-DMANUAL_REVISION=3368 -DWITHOUT_ESD=YES -DWITHOUT_OSS=YES \
			-DWANT_NO_EMBEDDED_CODE=YES

override_dh_install:
	dh_install -XCOPYING

%:
	dh --with kde,quilt $@
